@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;
  --yellow-color: #f5f100;
  --white-color: rgb(255, 255, 255);
  --box-shadow: #d1ce22cd;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--font-family);
  background-color: rgb(209, 206, 206);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}